<h2>Forged prompt shows current working directory</h2>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" /> $ </span><span class='cmd'><img width="0" />m<img width="0" />k<img width="0" />d<img width="0" />i<img width="0" />r<img width="0" /> <img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />1<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" /> $ </span><span class='cmd'><img width="0" />c<img width="0" />d<img width="0" /> <img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />1<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" />/<img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />1<img width="0" /> $ </span><span class='cmd'><img width="0" />m<img width="0" />k<img width="0" />d<img width="0" />i<img width="0" />r<img width="0" /> <img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />2<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" />/<img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />1<img width="0" /> $ </span><span class='cmd'><img width="0" />c<img width="0" />d<img width="0" /> <img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />2<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" />/<img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />1<img width="0" />/<img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />2<img width="0" /> $ </span><span class='cmd'><img width="0" />c<img width="0" />d<img width="0" /> <img width="0" />.<img width="0" />.<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" />/<img width="0" />d<img width="0" />i<img width="0" />r<img width="0" />1<img width="0" /> $ </span><span class='cmd'><img width="0" />c<img width="0" />d<img width="0" /> <img width="0" />.<img width="0" />.<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" /> $ </span><span class='cmd'><img width="0" />#<img width="0" /> <img width="0" />b<img width="0" />a<img width="0" />c<img width="0" />k<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
