<h2>Forged prompt shows current working directory</h2>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>mkdir dir1</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>cd dir1</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>mkdir dir2</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>cd dir2</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1/dir2 $ </kbd><kbd class='shell cmd'>cd ..</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>cd ..</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'># back</kbd><br/>
</samp></div>
