<h2>Forged prompt shows current working directory</h2>
<div class='console'><span class='prompt'>~ $ </span><span class='cmd'>mkdir <img width="0" />dir1
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~ $ </span><span class='cmd'>cd <img width="0" />dir1
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~/dir1 $ </span><span class='cmd'>mkdir <img width="0" />dir2
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~/dir1 $ </span><span class='cmd'>cd <img width="0" />dir2
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~/dir1/dir2 $ </span><span class='cmd'>cd <img width="0" />..
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~/dir1 $ </span><span class='cmd'>cd <img width="0" />..
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~ $ </span><span class='cmd'># <img width="0" />back
</span></div>
<div class='console output'></div>
