<h2>Console shows all whitespace and overlong lines</h2>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo  "all  "   whitespace is preserved     .</kbd><br/>
<kbd class='shell output'>all   whitespace is preserved .</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo "  And overlong lines are broken automatically, but there is no linebreak, so the reader can copy-paste the text without getting any   extra   linebreaks.  "</kbd><br/>
<kbd class='shell output'>  And overlong lines are broken automatically, but there is no linebreak, so the reader can copy-paste the text without getting any   extra   linebreaks.  </kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>mkdir 'extra   whitespace   also works in prompt  '</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>cd 'extra   whitespace   also works in prompt  '</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/extra   whitespace   also works in prompt   $ </kbd><kbd class='shell cmd'>echo lines are not broken at word boundary. Thisoverlongwordcannotbeononelineonlyinsteaditmustbebrokenatsomepoint.</kbd><br/>
<kbd class='shell output'>lines are not broken at word boundary. Thisoverlongwordcannotbeononelineonlyinsteaditmustbebrokenatsomepoint.</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/extra   whitespace   also works in prompt   $ </kbd><kbd class='shell cmd'>echo empty line; echo; echo in output</kbd><br/>
<kbd class='shell output'>empty line</kbd><br/>
<kbd class='shell output'></kbd><br/>
<kbd class='shell output'>in output</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/extra   whitespace   also works in prompt   $ </kbd><kbd class='shell cmd'>cd ..</kbd><br/>
</samp></div>
