<h2>Asserting output of cmd</h2>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { html "died: $@"; }</kbd><br/>
</samp></div>
<p class='text'>
Function out-was can be used to assert cmd output
</p>
<p class='text'>
First, the empty case, success:
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>true</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<p class='text'>
And failure:
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>true</kbd><br/>
</samp></div>
died: Error in command output, see diff output for details.<div><span class='output-asserted'><i>Output asserted</i></span></div>
<p class='text'>
Then non-empty:
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo "non-empty output"</kbd><br/>
<kbd class='shell output'>non-empty output</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo "actual"</kbd><br/>
<kbd class='shell output'>actual</kbd><br/>
</samp></div>
died: Error in command output, see diff output for details.<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { errorlog "$@"; exit 1; }</kbd><br/>
</samp></div>
<p class='text'>
stdout and stderr get combined. TODO is there a way to interleave them naturally but still assert them separately?
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo err > /dev/stderr</kbd><br/>
<kbd class='shell output'>err</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo out >> /dev/stdout &amp;&amp; echo err >> /dev/stderr</kbd><br/>
<kbd class='shell output'>out</kbd><br/>
<kbd class='shell output'>err</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<p class='text'>
Since descript uses files to capture output, append is necessary:
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo out > /dev/stdout &amp;&amp; echo err > /dev/stderr</kbd><br/>
<kbd class='shell output'>err</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
