<h2>Editing file, inlined content</h2>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "file1"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='add line'>file1 line1</div>
<div class='add line'>file1 line2</div>
</div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>cat file1</kbd><br/>
<kbd class='shell output'>file1 line1</kbd><br/>
<kbd class='shell output'>file1 line2</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "file1"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='del line'>file1 line1</div>
<div class='add line'>file1 line1, modified</div>
<div class='keep line'>file1 line2</div>
<div class='add line'>file1 line3, added</div>
</div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>cat file1</kbd><br/>
<kbd class='shell output'>file1 line1, modified</kbd><br/>
<kbd class='shell output'>file1 line2</kbd><br/>
<kbd class='shell output'>file1 line3, added</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "file1"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='keep line'>file1 line1, modified</div>
<div class='del line'>file1 line2</div>
<div class='keep line'>file1 line3, added</div>
</div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>cat file1</kbd><br/>
<kbd class='shell output'>file1 line1, modified</kbd><br/>
<kbd class='shell output'>file1 line3, added</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<p class='text'>
Empty lines also work in editor:
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "file1"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='keep line'>file1 line1, modified</div>
<div class='keep line'>file1 line3, added</div>
<div class='add line'>empty line below:</div>
<div class='add line'></div>
<div class='add line'>empty line above</div>
</div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "file1"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='keep line'>file1 line1, modified</div>
<div class='keep line'>file1 line3, added</div>
<div class='keep line'>empty line below:</div>
<div class='keep line'></div>
<div class='del line'>empty line above</div>
<div class='add line'>empty line above and 2 below</div>
<div class='add line'></div>
<div class='add line'></div>
</div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "file1"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='keep line'>file1 line1, modified</div>
<div class='keep line'>file1 line3, added</div>
<div class='keep line'>empty line below:</div>
<div class='keep line'></div>
<div class='del line'>empty line above and 2 below</div>
<div class='del line'></div>
<div class='del line'></div>
<div class='add line'>empty line above and</div>
<div class='add line'>none below</div>
</div>
