<h2>Editing file, inlined diff</h2>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>$<img width="0" />E<img width="0" />D<img width="0" />I<img width="0" />T<img width="0" />O<img width="0" />R<img width="0" /> <img width="0" />"<img width="0" />f<img width="0" />i<img width="0" />l<img width="0" />e<img width="0" />1<img width="0" />"<img width="0" />
</span></div>
<div class='editor'>
<div class='add line'>line 1</div>
<div class='add line'>line 2</div>
</div>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>$<img width="0" />E<img width="0" />D<img width="0" />I<img width="0" />T<img width="0" />O<img width="0" />R<img width="0" /> <img width="0" />"<img width="0" />f<img width="0" />i<img width="0" />l<img width="0" />e<img width="0" />1<img width="0" />"<img width="0" />
</span></div>
<div class='editor'>
<div class='keep line'>line 1</div>
<div class='keep line'>line 2</div>
<div class='add line'>line 3</div>
</div>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>c<img width="0" />a<img width="0" />t<img width="0" /> <img width="0" />f<img width="0" />i<img width="0" />l<img width="0" />e<img width="0" />1<img width="0" />
</span></div>
<div class='console output'>l<img width="0" />i<img width="0" />n<img width="0" />e<img width="0" /> <img width="0" />1<img width="0" /><br/>
l<img width="0" />i<img width="0" />n<img width="0" />e<img width="0" /> <img width="0" />2<img width="0" /><br/>
l<img width="0" />i<img width="0" />n<img width="0" />e<img width="0" /> <img width="0" />3<img width="0" />
</div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
