<h2>Text may contain reserved HTML characters: &lt;i>i&lt;/i> and &amp;</h2>
<p class='text'>
This is a paragraph. It can contain &lt;i>i&lt;/i> and &amp;.
</p>
<div class='console'><span class='prompt'>~ $ </span><span class='cmd'>echo <img width="0" />"And <img width="0" />also <img width="0" />commands <img width="0" />and <img width="0" />their <img width="0" />output: <img width="0" />&lt;i>i&lt;/i> <img width="0" />and <img width="0" />&amp;"
</span></div>
<div class='console output'>And <img width="0" />also <img width="0" />commands <img width="0" />and <img width="0" />their <img width="0" />output: <img width="0" />&lt;i>i&lt;/i> <img width="0" />and <img width="0" />&amp;
</div>
