<h2>Handling non-zero exit status of commands</h2>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>d<img width="0" />i<img width="0" />e<img width="0" />(<img width="0" />)<img width="0" /> <img width="0" />{<img width="0" /> <img width="0" />h<img width="0" />t<img width="0" />m<img width="0" />l<img width="0" /> <img width="0" />"<img width="0" />d<img width="0" />i<img width="0" />e<img width="0" />d<img width="0" />:<img width="0" /> <img width="0" />$<img width="0" />@<img width="0" />"<img width="0" />;<img width="0" /> <img width="0" />}<img width="0" />
</span></div>
<div class='console output'></div>
<p class='text'>
A non-zero exit status is an error, if using the cmd function.
</p>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>f<img width="0" />a<img width="0" />l<img width="0" />s<img width="0" />e<img width="0" />
</span></div>
<div class='console output'>died: Command 'false' exited with status 1. It should have been 0.</div>
<p class='text'>
Function failing-cmd must be used instead.
</p>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>f<img width="0" />a<img width="0" />l<img width="0" />s<img width="0" />e<img width="0" />
</span></div>
<div class='console output'></div>
<p class='text'>
It's an error if the failing-cmd exits with zero.
</p>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>t<img width="0" />r<img width="0" />u<img width="0" />e<img width="0" />
</span></div>
<div class='console output'>died: Command 'true' exited with status 0. It should have been 1.</div>
<p class='text'>
The bash special parameter 0 always expands to 0, to keep descript more robust. TODO maybe it would be better not to use set -eu.
</p>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>d<img width="0" />i<img width="0" />e<img width="0" />(<img width="0" />)<img width="0" /> <img width="0" />{<img width="0" /> <img width="0" />e<img width="0" />c<img width="0" />h<img width="0" />o<img width="0" /> <img width="0" />"<img width="0" />$<img width="0" />@<img width="0" />"<img width="0" />;<img width="0" /> <img width="0" />e<img width="0" />x<img width="0" />i<img width="0" />t<img width="0" /> <img width="0" />1<img width="0" />;<img width="0" /> <img width="0" />}<img width="0" />
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>t<img width="0" />r<img width="0" />u<img width="0" />e<img width="0" />
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>e<img width="0" />c<img width="0" />h<img width="0" />o<img width="0" /> <img width="0" />$<img width="0" />?<img width="0" />
</span></div>
<div class='console output'>0<img width="0" />
</div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>f<img width="0" />a<img width="0" />l<img width="0" />s<img width="0" />e<img width="0" />
</span></div>
<div class='console output'></div>
<div class='console'><span class='prompt'>~<img width="0" /> $ </span><span class='cmd'>e<img width="0" />c<img width="0" />h<img width="0" />o<img width="0" /> <img width="0" />$<img width="0" />?<img width="0" />
</span></div>
<div class='console output'>0<img width="0" />
</div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
