<h2>Handling non-zero exit status of commands</h2>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { html "died: $@"; }</kbd><br/>
</samp></div>
<p class='text'>
A non-zero exit status is an error, if using the cmd function.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>false</kbd><br/>
died: Pipeline 'false' exited with status 1. It should have been 0.</samp></div>
<p class='text'>
Function cmde must be used instead.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>false</kbd><br/>
</samp></div>
<p class='text'>
It's an error if the cmde exits with different exit status.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>true</kbd><br/>
died: Pipeline 'true' exited with status 0. It should have been 1.</samp></div>
<p class='text'>
Command statuses in a pipeline are asserted individually. First the happy case.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>false | true</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>true | false</kbd><br/>
</samp></div>
<p class='text'>
Then failure.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>true | false</kbd><br/>
died: Pipeline 'true | false' exited with status 0 1. It should have been 1 0.</samp></div>
<p class='text'>
The bash special parameter 0 always expands to 0, to keep descript more robust. TODO maybe it would be better not to use set -eu.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { echo "$@"; exit 1; }</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>true</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo $?</kbd><br/>
<kbd class='shell output'>0</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>false</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>echo $?</kbd><br/>
<kbd class='shell output'>0</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
