<h2>Redirects can be used</h2>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" /> $ </span><span class='cmd'><img width="0" />e<img width="0" />c<img width="0" />h<img width="0" />o<img width="0" /> <img width="0" />"<img width="0" />i<img width="0" />t<img width="0" /> <img width="0" />w<img width="0" />o<img width="0" />r<img width="0" />k<img width="0" />s<img width="0" />"<img width="0" /> <img width="0" />><img width="0" /> <img width="0" />f<img width="0" />i<img width="0" />l<img width="0" />e<img width="0" />
</span></div>
<div class='console output'><img width="0" /></div>
<div class='console'><span class='prompt'><img width="0" />~<img width="0" /> $ </span><span class='cmd'><img width="0" />c<img width="0" />a<img width="0" />t<img width="0" /> <img width="0" />f<img width="0" />i<img width="0" />l<img width="0" />e<img width="0" />
</span></div>
<div class='console output'><img width="0" />i<img width="0" />t<img width="0" /> <img width="0" />w<img width="0" />o<img width="0" />r<img width="0" />k<img width="0" />s<img width="0" />
</div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
