<h2>Forged path</h2>
<p class='text'>
Absolute paths in output get forged, partly for security and partly for reproducible builds.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>pwd</kbd><br/>
<kbd class='shell output'>/home/hacker</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<p class='text'>
But out-was assertions need to use real paths! Forging must be visual only.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>mkdir dir1 &amp;&amp; cd dir1</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>pwd</kbd><br/>
<kbd class='shell output'>/home/hacker/dir1</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>echo $PWD/another-dir</kbd><br/>
<kbd class='shell output'>/home/hacker/dir1/another-dir</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<p class='text'>
Absolute paths on command lines are also forged.
</p>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>echo PWD expanded in the descript script: /home/hacker/dir1</kbd><br/>
<kbd class='shell output'>PWD expanded in the descript script: /home/hacker/dir1</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<p class='text'>
Home directory is forged, if absolute path points outside working area.
</p>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>readlink -f /home/hacker</kbd><br/>
<kbd class='shell output'>/home/hacker</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>echo /home/hacker/some/path '/home/hacker/other/path'</kbd><br/>
<kbd class='shell output'>/home/hacker/some/path /home/hacker/other/path</kbd><br/>
</samp></div>
<div><span class='output-asserted'><i>Output asserted</i></span></div>
<div class='console'><samp><kbd class='shell prompt'>~/dir1 $ </kbd><kbd class='shell cmd'>cd ..</kbd><br/>
</samp></div>
