<h2>Mocked html browser</h2>
<p class='text'>
First missing html file.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { html "died: $@"; }</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$BROWSER "missing.html"</kbd><br/>
</samp></div>
died: Cannot browse, file does not exist: missing.html<p class='text'>
Then missing name for the iframe file of a minimal html document.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "a.html"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='add line'>&lt;html>&lt;body></div>
<div class='add line'>&lt;p>Hello&lt;/p></div>
<div class='add line'>&lt;/body>&lt;/html></div>
</div>
died: Usage: browser FILE IFRAMENAME<p class='text'>
Minimal happy case.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { echo "$@"; exit 1; }</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$BROWSER "a.html"</kbd><br/>
</samp></div>
<iframe src="011-browser.html.iframe.hello.html">Your browser does not support iframes.</iframe><p class='text'>
Reusing iframe name fails.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { html "died: $@"; }</kbd><br/>
</samp></div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$EDITOR "a.html"</kbd><br/>
</samp></div>
<div class='editor'>
<div class='keep line'>&lt;html>&lt;body></div>
<div class='del line'>&lt;p>Hello&lt;/p></div>
<div class='add line'>&lt;p>Hello 2&lt;/p></div>
<div class='keep line'>&lt;/body>&lt;/html></div>
</div>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$BROWSER "a.html"</kbd><br/>
</samp></div>
died: Cannot browse, iframe name already used: hello<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>die() { echo "$@"; exit 1; }</kbd><br/>
</samp></div>
<p class='text'>
New browse succeeds with different iframe name.
</p>
<div class='console'><samp><kbd class='shell prompt'>~ $ </kbd><kbd class='shell cmd'>$BROWSER "a.html"</kbd><br/>
</samp></div>
<iframe src="011-browser.html.iframe.hello2.html">Your browser does not support iframes.</iframe>